/*
Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin: http://uniformjs.com/
*/
div.selector, div.selector span, div.checker span, div.checker1 span, div.radio span { background-image: url("../../img/uniform.png"); background-repeat: no-repeat; -webkit-font-smoothing: antialiased; }

div.checker, div.checker1, div.radio { display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; vertical-align: middle; /* Keeping this as :focus to remove browser styles */ }

div.checker:focus, div.checker1:focus, div.radio:focus { outline: 0; }

div.radio, div.uploader { margin: 0; padding: 0; }

div.radio *, div.uploader * { margin: 0; padding: 0; }

div.selector { background-position: 0 -70px; line-height: 30px; height: 30px; padding: 0 0 0 10px; position: relative; overflow: hidden; vertical-align: top; }

div.selector span { text-overflow: ellipsis; display: block; overflow: hidden; white-space: nowrap; background-position: right -40px; height: 30px; line-height: 30px; padding-right: 28px; cursor: pointer; width: auto !important; }

div.selector.fixedWidth { width: 190px; }

div.selector.fixedWidth span { width: 155px; }

div.selector select { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; position: absolute; height: 30px; top: 0px; left: 0px; width: 100% !important; }

div.checker { position: relative; width: 24px; height: 24px; line-height: 24px; }

div.checker span, div.checker input { width: 24px; height: 24px; line-height: 24px; }

div.checker span { display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center; background-position: -48px 0; }

div.checker span.checked { background-position: -72px 0; }

div.checker input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; }

div.checker.disabled span { background-position: -48px -24px; }

div.checker1 { position: relative; width: 14px; height: 14px; line-height: 14px; vertical-align: top; }

div.checker1 span, div.checker1 input { width: 14px; height: 14px; line-height: 14px; }

div.checker1 span { display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center; background-position: -152px 0; }

div.checker1 span.checked { background-position: -166px 0; }

div.checker1 input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; }
div.checker1 + label {
	line-height: 14px;
	font-size: 12px;
	color: #646464;
	margin-left: 5px;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 2px;
}


div.radio { position: relative; width: 24px; height: 24px; line-height: 24px; }

div.radio span, div.radio input { width: 24px; height: 24px; line-height: 24px; }

div.radio span { display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center; background-position: 0 0; }

div.radio span.checked { background-position: -24px 0; }

div.radio input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-box; display: inline-block; *display: inline; zoom: 1; text-align: center; }

div.radio.disabled span { background-position: 0 -24px; }

input.uniform-input, select.uniform-multiselect, textarea.uniform { font-size: 14px; /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/ font-weight: normal; color: #777; border-top: solid 1px #aaaaaa; border-left: solid 1px #aaaaaa; border-bottom: solid 1px #cccccc; border-right: solid 1px #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

select.uniform-multiselect.hover, select.uniform-multiselect.focus { -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); border-color: #999; }

div.selector { font-size: 14px; }

div.selector span { color: #333; }

div.selector select { font-size: 14px; }

div.selector.disabled span, div.selector.disabled.active span { color: #bbb; }

div.uploader { *zoom: 1; background: none; height: 40px; width: 145px; cursor: pointer; position: relative; overflow: hidden; }

div.uploader:after { display: block; content: ''; clear: both; }

div.uploader span.action { background: #3b1a0f; height: 40px; line-height: 40px; width: 145px; text-align: center; float: right; display: inline; overflow: hidden; cursor: pointer; }

div.uploader span.filename { text-overflow: ellipsis; display: none; overflow: hidden; white-space: nowrap; float: left; cursor: default; height: 40px; line-height: 40px; padding: 0 10px; width: 100%; background-color: #fff; border: 1px #e5e5e5 solid; box-sizing: border-box; }

div.uploader input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; position: absolute; top: 0; right: 0; float: left; cursor: pointer; width: 100%; height: 100%; z-index: 1; }

div.uploader span.action { background-color: #3b1a0f; font-size: 1rem; color: #fff; cursor: pointer; }

div.uploader span.filename { color: #777; font-size: 13px; }
